@model CareHomeMock.Models.Application

@{
    var title = "承認";
    ViewBag.Title = title;
}

<h2>@title</h2>

<h3>この申請を承認します。承認された旨と自動生成されたアカウントが申請者に通知されます。よろしいですか？</h3>
<div>
    <h4>申請内容</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CareHome.CareHomeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareHome.CareHomeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CareHome.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareHome.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CareHome.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareHome.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        
        @Html.TextArea("noteForSender", new { @class="form-control", placeholder="例: 今後ともよろしくお願いいたします。" })

        <div class="form-actions no-color">
            <input type="submit" value="承認する" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
