@model CareHomeMock.Models.ApplicationSendVM
@{
    var title = "事業所登録申請";
    ViewBag.Title = title;
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h2>@title</h2>
        <p class="description">
            こちらの事業所の責任者の方は、以下にお名前とメールアドレスを入力して送信してください。
            事務局でご本人確認をさせていただき、承認された場合は管理者用のIDとパスワードをご連絡いたします。（事業所会員の登録は無料です。）
        </p>
        <p>@Html.ActionLink("事業所会員登録のご案内", "Details", "StaticPage", new { id = 7 }, null)</p>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @MyHelper.EditorFor(Html, m => m.CareHomeCode)
        @MyHelper.EditorFor(Html, m => m.CareHomeName)
        @MyHelper.EditorFor(Html, m => m.EmailPersonInCharge)
        @MyHelper.EditorFor(Html, m => m.NamePersonInCharge)
        @MyHelper.EditorFor(Html, m => m.Note, MyHelper.EditorType.TextArea)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="送信する" class="btn btn-primary btn-block" />
            </div>
        </div>
    </div>
}
