@model CareHomeMock.Models.CareManager
@{
    var title = Model.CareHome.Name + " " + Model.Name;
    ViewBag.Title = title;
    var isAdmin = User.IsInRole("Admin");
}

@section scripts{
    <script src="~/Scripts/raty/jquery.raty.js"></script>
    <script type="text/javascript" src="http://cdn.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="http://cdn.amcharts.com/lib/3/radar.js"></script>
    <script type="text/javascript" src="http://cdn.amcharts.com/lib/3/themes/patterns.js"></script>
    <script>
        AmCharts.makeChart("chartdiv",
            {
                "type": "radar",
                "pathToImages": "http://cdn.amcharts.com/lib/3/images/",
                "categoryField": "country",
                "startDuration": 2,
                "fontSize": 13,
                "theme": "patterns",
                "graphs": [
                    {
                        "balloonText": "[[value]]点",
                        "bullet": "round",
                        "bulletSize": 9,
                        "id": "AmGraph-1",
                        "lineAlpha": 1,
                        "lineThickness": 2,
                        "valueField": "litres"
                    }
                ],
                "guides": [],
                "valueAxes": [
                    {
                        "axisTitleOffset": 20,
                        "gridType": "circles",
                        "id": "ValueAxis-1",
                        "minimum": 0,
                        'maximum': 5,
                        "axisAlpha": 0.54,
                        "dashLength": 3,
                        "gridAlpha": 0.51
                    }
                ],
                "allLabels": [],
                "balloon": {},
                "titles": [],
                "dataProvider": [
                    {
                        "country": "企画・立案力",
                        "litres": @Model.企画立案力
                    },
                    {
                        "country": "行動・実践力",
                        "litres": @Model.行動実践力
                    },
                    {
                        "country": "関係構築力",
                        "litres": @Model.関係構築力
                    },
                    {
                        "country": "マネジメント力",
                        "litres": @Model.マネジメント力
                    },
                    {
                        "country": "医療知識",
                        "litres": @Model.医療知識
                    },
                    {
                        "country": "介護知識",
                        "litres": @Model.介護知識
                    }
                ]
            }
        );
    </script>
    <script>
        $(document).ready(function(){

            function AppModel(){
                var s = this;

                s.oldestRowKey = ko.observable(null);
                s.reviews = ko.observableArray([]);
                s.noMore = ko.observable(false);
                s.showDelete = ko.observable(false);

                s.ActivateRaty = function(){
                    $('.rating').raty({
                        score: function () {
                            return $(this).attr('data-score');
                        },
                        path: '/Scripts/raty/images',
                        readOnly: true,
                        hints: ['すすめない', 'あまりすすめない', 'どちらとも言えない', 'まあすすめる', 'すすめる']
                    });
                }

                s.GetMoreReviews = function(){
                    $.ajax({
                        cache: false,
                        type: 'POST',
                        url: '/Home/GetReviews',
                        data: {
                            id: @Model.CareManagerId,
                            afterThisRowKey: s.oldestRowKey()
                        }
                    }).done(function(data){
                        console.info(data);
                        if(data.reviews.length > 0){
                            var last = Enumerable.From(data.reviews).Last();
                            s.oldestRowKey(last.RowKey);
                            for(var n=0; n<data.reviews.length; n++){
                                s.reviews.push(data.reviews[n]);
                            }
                            s.ActivateRaty();
                        }else{
                            s.noMore(true);
                        }
                    });
                }

                s.Delete = function(partitionKey, rowKey){
                    location.href = '/Review/Delete?partitionKey=' + partitionKey + '&rowKey=' + rowKey;
                }
            }

            var model = new AppModel();
            ko.applyBindings(model);
            model.GetMoreReviews();
            @if (isAdmin)
            {
                <text>model.showDelete(true);</text>
            }
        });
    </script>
}

<h2>@title</h2>

<div class="row">
    <div class="col-md-6">
        <table class="table table-condensed">
            <tr>
                <td>所属</td>
                <td>@Html.ActionLink(Model.CareHome.Name, "CareHomeInfo_BasicInfo", new { controller = "Home", code = Model.CareHome.CareHomeCode })</td>
            </tr>
            <tr>
                <td>名前</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>ケアマネ評価得点</td>
                <td>@Model.Rating</td>
            </tr>
            <tr>
                <td>ケアマネ評価件数</td>
                <td>@Model.ReviewsCount</td>
            </tr>
            <tr>
                <td>性別</td>
                <td>@Model.Gender</td>
            </tr>
            <tr>
                <td>年齢</td>
                <td>@Model.Age</td>
            </tr>
            <tr>
                <td>ケアマネ資格取得</td>
                <td>@Model.Licensed</td>
            </tr>
            <tr>
                <td>保有資格</td>
                <td>
                    @foreach (var l in Model.CareManagerLicenses)
                    {
                        <div>@l.License.Name</div>
                    }
                </td>
            </tr>
            <tr>
                <td>現在担当人数</td>
                <td>@Model.CurrentPatients</td>
            </tr>
            <tr>
                <td>新規対応</td>
                <td>
                    @if (Model.AllowNewPatient)
                    {
                        <span>可</span>
                    }
                    else
                    {
                        <span>不可</span>
                    }
                </td>
            </tr>
        </table>

        <dl>
            <dt>経歴</dt>
            <dd>@Model.Career</dd>

            <dt>メッセージ</dt>
            <dd>@Model.Messages</dd>

            <dt>ブログ、FBなど</dt>
            <dd>@Model.BlogUrls</dd>
        </dl>
    </div>

    <div class="col-md-6">
        <div>@MyHelper.MainImage(Model.MediaFileDataId, 293, 240, true)</div>
        <div>@QRCode.Render(Request.Url.AbsoluteUri.ToString())</div>
        <div>@Html.Partial("_InfoSocial")</div>
    </div>
</div><!-- row -->

<h2>コンピテンシー自己評価</h2>
<div class="row">
    <div class="col-md-12">
        <div id="chartdiv" style="width: 100%; height: 240px; background-color: #FFFFFF;"></div>
    </div>
</div>

<h2>このケアマネの評価</h2>
<p>@Html.ActionLink("このケアマネを評価する", "PostReview", "Home", new { id = Model.CareManagerId }, new { @class = "btn btn-default" })</p>
<div data-bind="foreach: reviews">
    <div class="review">
        <div class="head">
            <span data-bind="text: ReviewerType" class="reviewerType"></span>
            <span class="hash">ID:<span data-bind="text: IpAddress" class="hash"></span></span>
            <span data-bind="text: fmDateTime(Created)" class="datetime"></span>
        </div>
        <div class="body">
            <div data-bind="attr: { 'data-score': Rating }" class="rating"></div>
            <div data-bind="text: Comment"></div>
        </div>
        <div data-bind="visible: Reply != null" class="reply">
            <span data-bind="text: Reply"></span>
        </div>
        <div data-bind="visible: $root.showDelete">
            <button type="button" data-bind="click: function(){$root.Delete($data.PartitionKey, $data.RowKey)}" class="btn btn-warning">削除する</button>
        </div>
    </div>
</div>
<button type="button" data-bind="visible: !noMore(), click: GetMoreReviews" class="btn btn-default btn-block">さらに読み込む</button>
