@model CareHomeMock.Models.CareHome
@{
    var title = Model.CompanyName + " 基本情報";
    ViewBag.Title = title;
}
@section scripts{
    <!-- amCharts javascript sources -->
    <script type="text/javascript" src="http://cdn.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="http://cdn.amcharts.com/lib/3/pie.js"></script>
    <script type="text/javascript" src="http://cdn.amcharts.com/lib/3/radar.js"></script>
    <script type="text/javascript" src="http://cdn.amcharts.com/lib/3/themes/patterns.js"></script>

    <!-- Pie, 要介護度別内訳 -->
    <script type="text/javascript">
        AmCharts.makeChart("chartdiv",
            {
                "type": "pie",
                "pathToImages": "http://cdn.amcharts.com/lib/3/images/",
                "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                "titleField": "country",
                "valueField": "litres",
                "fontSize": 12,
                "theme": "default",
                "allLabels": [],
                "balloon": {},
                "titles": [],
                "dataProvider": [
                    {
                        "country": '要介護5',
                        "litres": @Model.要介護5
                    },
                    {
                        "country": '要介護4',
                        "litres": @Model.要介護4
                    },
                    {
                        "country": '要介護3',
                        "litres": @Model.要介護3
                    },
                    {
                        "country": '要介護2',
                        "litres": @Model.要介護2
                    },
                    {
                        "country": '要介護1',
                        "litres": @Model.要介護1
                    },
                    {
                        "country": '要支援2',
                        "litres": @Model.要支援2
                    },
                    {
                        "country": '要支援1',
                        "litres": @Model.要支援1
                    },
                    {
                        "country": '自立',
                        "litres": @Model.自立
                    }
                ]
            }
        );
    </script>

    <!-- Radar, 第三者評価 -->
    <script type="text/javascript">
        AmCharts.makeChart("chartdiv-radar",
            {
                "type": "radar",
                "pathToImages": "http://cdn.amcharts.com/lib/3/images/",
                "categoryField": "country",
                "startDuration": 2,
                "fontSize": 13,
                "theme": "patterns",
                "graphs": [
                    {
                        "balloonText": "[[value]] litres of beer per year",
                        "bullet": "round",
                        "bulletSize": 9,
                        "id": "AmGraph-1",
                        "lineAlpha": 1,
                        "lineThickness": 2,
                        "valueField": "litres"
                    }
                ],
                "guides": [],
                "valueAxes": [
                    {
                        "axisTitleOffset": 20,
                        "gridType": "circles",
                        "id": "ValueAxis-1",
                        "minimum": 0,
                        "axisAlpha": 0.54,
                        "dashLength": 3,
                        "gridAlpha": 0.51
                    }
                ],
                "allLabels": [],
                "balloon": {},
                "titles": [],
                "dataProvider": [
                    {
                        "country": '利用者の権利擁護',
                        "litres": @Model.利用者の権利擁護
                    },
                    {
                        "country": 'サービスの質の確保',
                        "litres": @Model.サービスの質の確保
                    },
                    {
                        "country": '相談・苦情等への対応',
                        "litres": @Model.相談苦情等への対応
                    },
                    {
                        "country": '外部機関等との連携',
                        "litres": @Model.外部機関等との連携
                    },
                    {
                        "country": '事業運営・管理',
                        "litres": @Model.事業運営管理
                    },
                    {
                        "country": '安全・衛生管理等',
                        "litres": @Model.安全衛生管理等
                    },
                    {
                        "country": '従業者の研修等',
                        "litres": @Model.従業者の研修等
                    }
                ]
            }
        );
    </script>
}



<h2>@title</h2>
@Html.Partial("_CareHomeInfoMenu", Model)

<div class="row">
    <div class="col-md-6">
        <div class="carehomeinfo-tableouter">
            <table class="table table-condensed carehomeinfo-table">
                <tbody>
                    <tr>
                        <td>事業所ID</td>
                        <td>@Model.CareHomeCode</td>
                    </tr>
                    <tr>
                        <td>郵便番号</td>
                        <td>@Model.Zip</td>
                    </tr>
                    <tr>
                        <td>所在地</td>
                        <td>@Model.Address</td>
                    </tr>
                    <tr>
                        <td>Tel</td>
                        <td>@Model.Tel</td>
                    </tr>
                    <tr>
                        <td>Fax</td>
                        <td>@Model.Fax</td>
                    </tr>
                    <tr>
                        <td>ホームページ</td>
                        <td>@Model.WebsiteUrl</td>
                    </tr>
                    <tr>
                        <td>開業日</td>
                        <td>@Model.Established</td>
                    </tr>
                    <tr>
                        <td>法人区分</td>
                        <td>@Model.CompanyType</td>
                    </tr>
                    <tr>
                        <td>法人名称</td>
                        <td>@Model.CompanyName</td>
                    </tr>
                    <tr>
                        <td>施設管理者氏名</td>
                        <td>@Model.ChiefName</td>
                    </tr>
                    <tr>
                        <td>施設管理者職名</td>
                        <td>@Model.ChiefJobTitle</td>
                    </tr>
                    <tr>
                        <td>情報更新日</td>
                        <td>@Model.DataUpdated</td>
                    </tr>

                    <tr>
                        <td>介護支援専門員在席人数</td>
                        <td>@Model.介護支援専門員在席人数</td>
                    </tr>
                    <tr>
                        <td>介護支援専門員常勤換算</td>
                        <td>@Model.介護支援専門員常勤換算</td>
                    </tr>
                    <tr>
                        <td>事務員在席人数</td>
                        <td>@Model.事務員在席人数</td>
                    </tr>
                    <tr>
                        <td>事務員常勤換算</td>
                        <td>@Model.事務員常勤換算</td>
                    </tr>
                    <tr>
                        <td>その他在席人数</td>
                        <td>@Model.その他在席人数</td>
                    </tr>
                    <tr>
                        <td>その他常勤換算</td>
                        <td>@Model.その他常勤換算</td>
                    </tr>
                    <tr>
                        <td>全職員在席人数</td>
                        <td>@Model.全職員在席人数</td>
                    </tr>
                    <tr>
                        <td>全職員常勤換算</td>
                        <td>@Model.全職員常勤換算</td>
                    </tr>
                    <tr>
                        <td>経験5年以上割合</td>
                        <td>@Model.経験5年以上割合</td>
                    </tr>


                    <tr>
                        <td>要介護5</td>
                        <td>@Model.要介護5</td>
                    </tr>
                    <tr>
                        <td>要介護4</td>
                        <td>@Model.要介護4</td>
                    </tr>
                    <tr>
                        <td>要介護3</td>
                        <td>@Model.要介護3</td>
                    </tr>
                    <tr>
                        <td>要介護2</td>
                        <td>@Model.要介護2</td>
                    </tr>
                    <tr>
                        <td>要介護1</td>
                        <td>@Model.要介護1</td>
                    </tr>
                    <tr>
                        <td>要支援2</td>
                        <td>@Model.要支援2</td>
                    </tr>
                    <tr>
                        <td>要支援1</td>
                        <td>@Model.要支援1</td>
                    </tr>
                    <tr>
                        <td>自立</td>
                        <td>@Model.自立</td>
                    </tr>

                    <tr>
                        <td>利用者の権利擁護</td>
                        <td>@Model.利用者の権利擁護</td>
                    </tr>
                    <tr>
                        <td>サービスの質の確保</td>
                        <td>@Model.サービスの質の確保</td>
                    </tr>
                    <tr>
                        <td>相談・苦情等への対応</td>
                        <td>@Model.相談苦情等への対応</td>
                    </tr>
                    <tr>
                        <td>外部機関等との連携</td>
                        <td>@Model.外部機関等との連携</td>
                    </tr>
                    <tr>
                        <td>事業運営・管理</td>
                        <td>@Model.事業運営管理</td>
                    </tr>
                    <tr>
                        <td>安全・衛生管理等</td>
                        <td>@Model.安全衛生管理等</td>
                    </tr>
                    <tr>
                        <td>従業者の研修等</td>
                        <td>@Model.従業者の研修等</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="carehomeinfo-boxouter">
            <div class="carehomeinfo-box">
                <div>@MyHelper.MainImage(Model.MediaFileDataId, 293, 240, true)</div>
                <div id="chartdiv" style="width: 100%; height: 200px; background-color: #FFFFFF;"></div>
                <div id="chartdiv-radar" style="width: 100%; height: 240px; background-color: #FFFFFF;"></div>
                <div>SNS</div>
                @if (Model.User == null)
                {
                    <p>@Html.ActionLink("この事業所の方ですか？ 登録してください！", "Send", new { controller = "Application", careHomeCode = Model.CareHomeCode })</p>
                }
                else
                {
                    <!-- Owned by @Model.User.UserName -->
                }
            </div>
        </div>
    </div>
</div>
