@model CareHomeMock.Models.CareHome
@{
    var title = Model.CompanyName + " 写真と動画";
    ViewBag.Title = title;
}

<h2>@title</h2>
@Html.Partial("_CareHomeInfoMenu", Model)

<div class="mediafiles">
    @if (Model.MediaFiles.Count == 0)
    {
        <p>この事業所はまだ写真や動画を掲載していません。</p>
    }
    @foreach (var f in Model.MediaFiles.OrderBy(f=>f.Order).ThenByDescending(f=>f.Updated))
    {
        <div class="mediafile">
            <div class="row">
                <div class="col-md-6">
                    @if (f.Type == CareHomeMock.Models.MediaFile.MediaFileType.Image)
                    {
                        <a href="@Url.Action("Download", "MediaFile", new { fileName = f.RowKey })" target="_blank">
                            <img style="max-width: 263px;" src="@Url.Action("Download", "MediaFile", new { fileName = f.RowKey })" />
                        </a>
                    }
                    else
                    {
                        <iframe width="263" src="//www.youtube.com/embed/HcaCc0VNBXg" frameborder="0" allowfullscreen></iframe>
                    }
                </div>
                <div class="col-md-6">
                    <!-- MediaFileId: @f.MediaFileId -->
                    <!-- RowKey: @f.RowKey -->
                    @if (!string.IsNullOrEmpty(f.Description))
                    {
                        <p class="description">@f.Description</p>
                    }
                </div>
            </div>
        </div>
    }
</div>
