@model CareHomeMock.Models.CareHome
@{
    var title = Model.Name;
    ViewBag.Title = title;
}
@section scripts{
    <script src="~/Scripts/raty/jquery.raty.js"></script>
    <script>
        $(document).ready(function () {
            $('.rating').raty({
                score: function () {
                    return $(this).attr('data-score');
                },
                path: '/Scripts/raty/images',
                readOnly: true
            });
        });
    </script>
}

<h2>@title</h2>
@Html.Partial("_CareHomeInfoMenu", Model)

<div>
    @if (Model.CareManagers.Count == 0)
    {
        <p>この事業所はまだケアマネ情報を掲載していません。</p>
    }
    @foreach (var m in Model.CareManagers)
    {
        <div class="search-rslt col-md-12">
            <div class="row">
                <div class="col-md-4">
                    @MyHelper.MainImage(m.MediaFileDataId, 190, 190, false)
                </div>
                <div class="col-md-8">
                    <h3><a href="@Url.Action("CareManagerInfo", "Home", new { id = m.CareManagerId })" target="_blank">@m.Name</a></h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><i class="fa fa-calendar"></i></td>
                                <td>経験年数:</td>
                                <td><span>@m.Years</span>年</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-comments"></i></td>
                                <td>評価件数:</td>
                                <td><span>@m.ReviewsCount</span>件</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-star-half-full"></i></td>
                                <td>平均得点:</td>
                                <td style="font-size: 11px;">
                                    <span data-score="@m.Rating" class="rating"></span>
                                    <span><span>@Math.Round(m.Rating, 1)</span>点</span>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-stethoscope"></i></td>
                                <td>保有資格:</td>
                                <td>
                                    <ul>
                                        @foreach (var l in m.CareManagerLicenses)
                                        {
                                            <li>@l.License.Name</li>
                                        }
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div data-bind="text: data.Messages" class="col-md-12"></div>
            </div>
        </div>
    }
</div>

@if (Model.User == null)
{
    <p>@Html.ActionLink("この事業所の方ですか？ 登録してください！", "Send", new { controller = "Application", careHomeCode = Model.CareHomeCode })</p>
}
else
{
            <!-- Owned by @Model.User.UserName -->
}
