@{
    var title = "事業所メニュー";
    ViewBag.Title = title;
}
<h2>@title</h2>

<p>以下のメニューから事業所に関する情報の編集を行えます。</p>

<p>
    <a href="@Url.Action("CareHomeInfo_BasicInfo", new { controller = "Home" })" target="_blank" class="btn btn-default">この事業所のページを見る</a>
</p>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>ケアマネ管理</h3>
                <p>ケアマネ情報の追加や編集、削除など。</p>
                <p><a href="@Url.Action("Index", "CareManager")" class="btn btn-primary" role="button">見る</a> <a href="@Url.Action("Details", "StaticPage", new { id = 9 })#1" class="btn btn-default" role="button">ヘルプ</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>写真動画管理</h3>
                <p>写真と動画の追加や編集、削除、並べ替えなど。</p>
                <p><a href="@Url.Action("Index", "MediaFile")" class="btn btn-primary" role="button">見る</a> <a href="@Url.Action("Details", "StaticPage", new { id = 9 })#2" class="btn btn-default" role="button">ヘルプ</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>追加情報管理</h3>
                <p>事業所のメイン画像や紹介文の編集など。</p>
                <p><a href="@Url.Action("EditAdditionalInfo", "CareHome")" class="btn btn-primary" role="button">見る</a> <a href="@Url.Action("Details", "StaticPage", new { id = 9 })#3" class="btn btn-default" role="button">ヘルプ</a></p>
            </div>
        </div>
    </div>
</div>
