@model CareHomeMock.Models.CareManager

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CareManager</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CareHome.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareHome.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaFileDataId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaFileDataId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licensed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licensed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licenses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licenses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentPatients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentPatients)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowNewPatient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowNewPatient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Career)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Messages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Messages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogUrls)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogUrls)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewsCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewsCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CareManagerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
