@model CareHomeMock.Models.CareManager

@{
    var title = "ケアマネ情報編集";
    ViewBag.Title = title;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>@title</h2>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CareManagerId)
        @Html.HiddenFor(model => model.CareHomeId)

        @MyHelper.EditorFor(Html, m => m.Email)

        @MyHelper.EditorFor(Html, m => m.Name)

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        @MyHelper.EditorFor(Html, m => m.Licensed)

        @MyHelper.EditorFor(Html, m => m.Birthday)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存する" class="btn btn-primary btn-block" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
