@model CareHomeMock.Models.CareManager

@{
    var title = "ケアマネ情報編集";
    ViewBag.Title = title;
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script>
        $('#Licensed,#Birthday').datepicker({
            dateFormat: 'yy/mm/dd'
        });
    </script>
}



@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>@title</h2>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CareManagerId)
        @Html.HiddenFor(model => model.CareHomeId)

        @MyHelper.EditorFor(Html, m => m.Email)

        @MyHelper.EditorFor(Html, m => m.Name)

        @MyHelper.EditorFor(Html, m => m.Gender, MyHelper.EditorType.DropDownList)

        @MyHelper.EditorFor(Html, m => m.Licensed, MyHelper.EditorType.Date)

        @MyHelper.EditorFor(Html, m => m.Birthday, MyHelper.EditorType.Date)
        
        <div class="form-group">
            <label class="control-label col-md-2">メイン画像</label>
            <div class="col-md-10">
                <span>JPEGかPNG、GIF。200kBまで。</span>
                <input type="file" name="file" accept="image/jpeg, image/jpg, image/png, image/gif" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存する" class="btn btn-primary btn-block" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
