@model CareHomeMock.Models.CareManager
@{
    var title = "ケアマネ追加情報";
    ViewBag.Title = title;
}
@section scripts{
    <script src="~/Scripts/raty/jquery.raty.js"></script>
    <script>
        $(document).ready(function () {
            $('.raty').each(function (index, Element) {
                var target = $(Element).find('input');
                $(Element).raty({
                    path: '/Scripts/raty/images',
                    score: target.val(),
                    click: function (score, evt) {
                        target.val(score);
                    }
                });
            });
        });
    </script>
}



@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <h2>@title</h2>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false)
        @Html.HiddenFor(m => m.CareManagerId)

        @MyHelper.EditorFor(Html, m => m.CurrentPatients)
        @MyHelper.CheckBoxFor(Html, m => m.AllowNewPatient)
        @MyHelper.EditorFor(Html, m => m.Career, MyHelper.EditorType.TextArea)
        @MyHelper.EditorFor(Html, m => m.Messages, MyHelper.EditorType.TextArea)
        @MyHelper.EditorFor(Html, m => m.BlogUrls, MyHelper.EditorType.TextArea)

        @MyHelper.EditorFor(Html, m => m.企画立案力, MyHelper.EditorType.Raty)
        @MyHelper.EditorFor(Html, m => m.行動実践力, MyHelper.EditorType.Raty)
        @MyHelper.EditorFor(Html, m => m.関係構築力, MyHelper.EditorType.Raty)
        @MyHelper.EditorFor(Html, m => m.マネジメント力, MyHelper.EditorType.Raty)
        @MyHelper.EditorFor(Html, m => m.医療知識, MyHelper.EditorType.Raty)
        @MyHelper.EditorFor(Html, m => m.介護知識, MyHelper.EditorType.Raty)

        @*Licenses*@
        <div class="form-group">
            <label class="col-md-2">保有資格</label>
            <div class="col-md-10">
                @Html.ListBox("Licenses", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">メイン画像</label>
            <div class="col-md-10">
                <span>JPEGかPNG、GIF。200kBまで。</span>
                <input type="file" name="file" accept="image/jpeg, image/jpg, image/png, image/gif" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存する" class="btn btn-primary btn-block" />
            </div>
        </div>
    </div>
}

<div>@Html.ActionLink("Back to Menu", "CareManagerMenu", "Home")</div>
