@model CareHomeMock.Models.CareManager

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CareManager</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CareManagerId)

        <div class="form-group">
            @Html.LabelFor(model => model.CareHomeId, "CareHomeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CareHomeId", String.Empty)
                @Html.ValidationMessageFor(model => model.CareHomeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MediaFileDataId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MediaFileDataId)
                @Html.ValidationMessageFor(model => model.MediaFileDataId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age)
                @Html.ValidationMessageFor(model => model.Age)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Licensed, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Licensed)
                @Html.ValidationMessageFor(model => model.Licensed)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Licenses, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Licenses)
                @Html.ValidationMessageFor(model => model.Licenses)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CurrentPatients, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CurrentPatients)
                @Html.ValidationMessageFor(model => model.CurrentPatients)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllowNewPatient, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AllowNewPatient)
                @Html.ValidationMessageFor(model => model.AllowNewPatient)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Career, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Career)
                @Html.ValidationMessageFor(model => model.Career)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Messages, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Messages)
                @Html.ValidationMessageFor(model => model.Messages)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BlogUrls, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BlogUrls)
                @Html.ValidationMessageFor(model => model.BlogUrls)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalRating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalRating)
                @Html.ValidationMessageFor(model => model.TotalRating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReviewsCount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReviewsCount)
                @Html.ValidationMessageFor(model => model.ReviewsCount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rating)
                @Html.ValidationMessageFor(model => model.Rating)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
