@model CareHomeMock.Models.CareManagerIndexVM

@{
    var title = "ケアマネ一覧";
    ViewBag.Title = title;
}
@section scripts{
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('#sortable').sortable().disableSelection();
            $('#SaveOrder').click(function () {
                var orderedIds = [];
                $('#sortable tr').each(function (n, element) {
                    var id = parseInt($(element).find('.CareManagerId').text());
                    orderedIds.push(id);
                });
                console.info(orderedIds);
                $.ajax({
                    cache: false,
                    type: 'POST',
                    url: '/CareManager/SaveOrder',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        orderedIds: orderedIds
                    })
                }).done(function (data) {
                    console.info(data);
                    location.reload();
                });
            });
        });
    </script>
}

<h2>@title</h2>

<p>
    @Html.ActionLink("ケアマネ情報を追加する", "Edit", new { code = Model.CareHomeCode, careManagerId = (int?)null }, new { @class = "btn btn-default" })
    <button type="button" id="SaveOrder" class="btn btn-default">並び順を保存する</button>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CareManagers.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CareManagers.First().Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CareManagers.First().Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CareManagers.First().CurrentPatients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CareManagers.First().AllowNewPatient)
            </th>
            <th>メール確認済み</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="sortable">
        @foreach (var item in Model.CareManagers)
        {
            <tr>
                <td>
                    <span class="CareManagerId" style="display:none;">@item.CareManagerId</span>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentPatients)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllowNewPatient)
                </td>
                <td>
                    @if (item.User != null)
                    {
                        <span>はい</span>
                    }
                    else
                    {
                        <span>いいえ</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("編集", "Edit", new { code = item.CareHome.CareHomeCode, careManagerId = item.CareManagerId }) |
                    @Html.ActionLink("削除", "Delete", new { code = item.CareHome.CareHomeCode, careManagerId = item.CareManagerId })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to Menu", "CareHomeMenu", "Home")
</div>
