@model IEnumerable<CareHomeMock.Models.File>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("アップロード", "Upload")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.ActionLink("ダウンロード", "Download", new { fileName = item.RowKey }) |
            @Html.ActionLink("削除", "Delete", new { id = item.FileId })
        </td>
    </tr>
}

</table>
