@model CareHomeMock.Models.MediaFile

@{
    var title = "削除";
    ViewBag.Title = title;
}

<div>
    <h2>@title</h2>

    <h3>以下の情報を削除します。よろしいですか？</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YoutubeUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YoutubeUrl)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="削除する" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
