@model CareHomeMock.Models.MediaFileUploadVM
@{
    var title = "写真/動画を編集する";
    ViewBag.Title = title;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <h2>@title</h2>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(m=>m.MediaFileId)
        @Html.HiddenFor(m=>m.CareHomeId)

        <div class="form-group">
            @Html.LabelFor(model => model.MediaFileType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span>ファイルの種類を選択してください：</span>
                @Html.DropDownList("MediaFileType", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MediaFileType)
            </div>
        </div>

        <div>
            @Html.LabelFor(m => m.File, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span>アップロードする画像ファイルを選択してください：</span>
                <input type="file" name="File" id="File" accept="image/jpeg, image/jpg, image/png, image/gif" />
                @Html.ValidationMessageFor(m=>m.File)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YoutubeUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span>Youtube動画のURLを入力してください：</span>
                @Html.TextBoxFor(model => model.YoutubeUrl, new { @class = "form-control", placeholder = "例: https://www.youtube.com/watch?v=abcdefg" })
                @Html.ValidationMessageFor(model => model.YoutubeUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span>ファイルの説明を入力してください：</span>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "例: 事業所の日常的な業務の映像です。" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存する" class="btn btn-primary btn-block" />
            </div>
        </div>
    </div>
}

<div>@Html.ActionLink("Back to List", "Index")</div>
