@model CareHomeMock.Models.CareHome

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CareHome</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Area.PrefectureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area.PrefectureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebsiteUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Established)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Established)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiefName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiefName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiefJobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiefJobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.介護支援専門員在席人数)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.介護支援専門員在席人数)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.介護支援専門員常勤換算)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.介護支援専門員常勤換算)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.事務員在席人数)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.事務員在席人数)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.事務員常勤換算)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.事務員常勤換算)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.その他在席人数)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.その他在席人数)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.その他常勤換算)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.その他常勤換算)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.全職員在席人数)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.全職員在席人数)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.全職員常勤換算)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.全職員常勤換算)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.経験5年以上割合)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.経験5年以上割合)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.要介護5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.要介護5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.要介護4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.要介護4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.要介護3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.要介護3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.要介護2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.要介護2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.要介護1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.要介護1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.要支援2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.要支援2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.要支援1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.要支援1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.自立)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.自立)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.利用者の権利擁護)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.利用者の権利擁護)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.サービスの質の確保)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.サービスの質の確保)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.相談苦情等への対応)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.相談苦情等への対応)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.外部機関等との連携)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.外部機関等との連携)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.事業運営管理)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.事業運営管理)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.安全衛生管理等)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.安全衛生管理等)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.従業者の研修等)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.従業者の研修等)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaFileDataId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaFileDataId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Traits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Traits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Messages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Messages)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
