@model CareHomeMock.Models.CareHome

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CareHome</h4>
        <hr />
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.CareHomeId)

        @MyHelper.EditorFor(Html, m => m.CareHomeCode)

        <div class="form-group">
            @Html.LabelFor(model => model.AreaId, "AreaId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AreaId", String.Empty)
                @Html.ValidationMessageFor(model => model.AreaId)
            </div>
        </div>

        @MyHelper.EditorFor(Html, m => m.Name)
        @MyHelper.EditorFor(Html, m => m.Zip)
        @MyHelper.EditorFor(Html, m => m.Address)
        @MyHelper.EditorFor(Html, m => m.AddressBuilding)
        @MyHelper.EditorFor(Html, m => m.Tel)
        @MyHelper.EditorFor(Html, m => m.Fax)
        @MyHelper.EditorFor(Html, m => m.WebsiteUrl)
        @MyHelper.EditorFor(Html, m => m.Established)
        @MyHelper.EditorFor(Html, m => m.CompanyType)
        @MyHelper.EditorFor(Html, m => m.CompanyName)
        @MyHelper.EditorFor(Html, m => m.ChiefName)
        @MyHelper.EditorFor(Html, m => m.ChiefJobTitle)
        @MyHelper.EditorFor(Html, m => m.Longitude)
        @MyHelper.EditorFor(Html, m => m.Latitude)
        @MyHelper.EditorFor(Html, m => m.DataUpdated)

        @MyHelper.EditorFor(Html, m => m.介護支援専門員在席人数)
        @MyHelper.EditorFor(Html, m => m.介護支援専門員常勤換算)
        @MyHelper.EditorFor(Html, m => m.事務員在席人数)
        @MyHelper.EditorFor(Html, m => m.事務員常勤換算)
        @MyHelper.EditorFor(Html, m => m.その他在席人数)
        @MyHelper.EditorFor(Html, m => m.その他在席人数)
        @MyHelper.EditorFor(Html, m => m.全職員在席人数)
        @MyHelper.EditorFor(Html, m => m.全職員常勤換算)
        @MyHelper.EditorFor(Html, m => m.経験5年以上割合)

        @MyHelper.EditorFor(Html, m => m.要介護5)
        @MyHelper.EditorFor(Html, m => m.要介護4)
        @MyHelper.EditorFor(Html, m => m.要介護3)
        @MyHelper.EditorFor(Html, m => m.要介護2)
        @MyHelper.EditorFor(Html, m => m.要介護1)
        @MyHelper.EditorFor(Html, m => m.要支援2)
        @MyHelper.EditorFor(Html, m => m.要支援1)
        @MyHelper.EditorFor(Html, m => m.自立)

        @MyHelper.EditorFor(Html, m => m.利用者の権利擁護)
        @MyHelper.EditorFor(Html, m => m.サービスの質の確保)
        @MyHelper.EditorFor(Html, m => m.相談苦情等への対応)
        @MyHelper.EditorFor(Html, m => m.外部機関等との連携)
        @MyHelper.EditorFor(Html, m => m.事業運営管理)
        @MyHelper.EditorFor(Html, m => m.安全衛生管理等)
        @MyHelper.EditorFor(Html, m => m.従業者の研修等)

        @MyHelper.EditorFor(Html, m => m.Email)
        @MyHelper.EditorFor(Html, m => m.MediaFileDataId)
        @MyHelper.EditorFor(Html, m => m.Region, MyHelper.EditorType.TextArea)
        @MyHelper.EditorFor(Html, m => m.Traits)
        @MyHelper.EditorFor(Html, m => m.Messages, MyHelper.EditorType.TextArea)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存する" class="btn btn-primary btn-block" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
