@model IEnumerable<CareHomeMock.Models.CareHome>

@{
    var title = "事業所一覧";
    ViewBag.Title = title;
}

<h2>@title</h2>

<p>
    @Html.ActionLink("作成する", "Edit")
    @Html.ActionLink("CSVから事業所を更新する", "UploadCsv")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Deactivated)</th>
        <th>
            @Html.DisplayNameFor(model => model.Area.PrefectureName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiefName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.Deactivated)
            {
                <span>無効</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area.PrefectureName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChiefName)
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { id=item.CareHomeId })
            @if (item.Deactivated)
            {
                using (Html.BeginForm(new { action = "Activate", id = item.CareHomeId }))
                {
                    @Html.AntiForgeryToken()
                    <button>有効化</button>
                }
            }
            else
            {
                using (Html.BeginForm(new { action = "Deactivate", id = item.CareHomeId }))
                {
                    @Html.AntiForgeryToken()
                    <button>無効化</button>
                }
            }
        </td>
    </tr>
}

</table>

<div>@Html.ActionLink("Back to Menu", "AdminMenu", "Home")</div>
