@model IEnumerable<CareHomeMock.Models.CareHome>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Deactivated)</th>
        <th>
            @Html.DisplayNameFor(model => model.Area.PrefectureName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiefName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiefJobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataUpdated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.Deactivated)
            {
                <span>無効</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area.PrefectureName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChiefName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChiefJobTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataUpdated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CareHomeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CareHomeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CareHomeId })
            @if (item.Deactivated)
            {
                using (Html.BeginForm(new { action = "Activate", id = item.CareHomeId }))
                {
                    @Html.AntiForgeryToken()
                    <button>有効化</button>
                }
            }
            else
            {
                using (Html.BeginForm(new { action = "Deactivate", id = item.CareHomeId }))
                {
                    @Html.AntiForgeryToken()
                    <button>無効化</button>
                }
            }
        </td>
    </tr>
}

</table>
