@model IEnumerable<CareHomeMock.Models.StaticPage>

@{
    ViewBag.Title = "Index";
}

<h2>固定ページ一覧</h2>

<p>
    @Html.ActionLink("新しいページを作成する", "Edit")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { id=item.StaticPageId }) |
            @Html.ActionLink("削除", "Delete", new { id=item.StaticPageId })
        </td>
    </tr>
}

</table>
